USE [ConsultorioMedico]
GO
/****** Object:  Index [NumPacExp]    Script Date: 29/09/2018 1:09:11 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Paciente_Expediente]') AND name = N'NumPacExp')
DROP INDEX [NumPacExp] ON [dbo].[Paciente_Expediente]
GO
/****** Object:  Index [NumPaciente]    Script Date: 29/09/2018 1:09:11 ******/
IF  EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Paciente]') AND name = N'NumPaciente')
DROP INDEX [NumPaciente] ON [dbo].[Paciente]
GO
/****** Object:  Table [dbo].[Receta]    Script Date: 29/09/2018 1:09:11 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Receta]') AND type in (N'U'))
DROP TABLE [dbo].[Receta]
GO
/****** Object:  Table [dbo].[Paciente_Expediente]    Script Date: 29/09/2018 1:09:11 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Paciente_Expediente]') AND type in (N'U'))
DROP TABLE [dbo].[Paciente_Expediente]
GO
/****** Object:  Table [dbo].[Paciente]    Script Date: 29/09/2018 1:09:11 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Paciente]') AND type in (N'U'))
DROP TABLE [dbo].[Paciente]
GO
/****** Object:  Table [dbo].[Expediente]    Script Date: 29/09/2018 1:09:11 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Expediente]') AND type in (N'U'))
DROP TABLE [dbo].[Expediente]
GO
/****** Object:  Table [dbo].[Consulta]    Script Date: 29/09/2018 1:09:11 ******/
IF  EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Consulta]') AND type in (N'U'))
DROP TABLE [dbo].[Consulta]
GO
USE [master]
GO
/****** Object:  Database [ConsultorioMedico]    Script Date: 29/09/2018 1:09:11 ******/
IF  EXISTS (SELECT name FROM sys.databases WHERE name = N'ConsultorioMedico')
DROP DATABASE [ConsultorioMedico]
GO
/****** Object:  Database [ConsultorioMedico]    Script Date: 29/09/2018 1:09:11 ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'ConsultorioMedico')
BEGIN
CREATE DATABASE [ConsultorioMedico]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ConsultorioMedico', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ConsultorioMedico.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ConsultorioMedico_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\ConsultorioMedico_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ConsultorioMedico].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ConsultorioMedico]
GO
/****** Object:  Table [dbo].[Consulta]    Script Date: 29/09/2018 1:09:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Consulta]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Consulta](
	[Id_Consulta] [int] NULL,
	[Fecha_Cita] [datetime] NULL,
	[Id_Paciente] [int] NULL,
	[Id_Doctor] [int] NULL,
	[Id_Receta] [int] NULL,
	[Id_Consultorio] [int] NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Expediente]    Script Date: 29/09/2018 1:09:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Expediente]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Expediente](
	[Id_Expediente] [int] NULL,
	[Id_Paciente] [int] NULL,
	[Altura] [float] NOT NULL,
	[Peso] [float] NOT NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Paciente]    Script Date: 29/09/2018 1:09:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Paciente]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Paciente](
	[Id_Paciente] [int] NULL,
	[Nombre] [varchar](20) NULL,
	[Apellidos] [varchar](20) NULL,
	[Edad] [int] NULL,
	[Domicilio] [text] NULL,
	[Id_PacienteExpediente] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Paciente_Expediente]    Script Date: 29/09/2018 1:09:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Paciente_Expediente]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Paciente_Expediente](
	[Id_Paciente] [int] NULL,
	[Id_Expediente] [int] NULL,
	[Id_PacienteExpediente] [int] NULL
) ON [PRIMARY]
END
GO
/****** Object:  Table [dbo].[Receta]    Script Date: 29/09/2018 1:09:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Receta]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Receta](
	[Id_Receta] [int] NULL,
	[Id_Paciente] [int] NULL,
	[Medicinas] [text] NULL,
	[Fecha] [datetime] NULL,
	[Id_Doctor] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
END
GO
INSERT [dbo].[Consulta] ([Id_Consulta], [Fecha_Cita], [Id_Paciente], [Id_Doctor], [Id_Receta], [Id_Consultorio]) VALUES (1, CAST(0x0000A96A000E1607 AS DateTime), 1, 1, 1, 1)
INSERT [dbo].[Consulta] ([Id_Consulta], [Fecha_Cita], [Id_Paciente], [Id_Doctor], [Id_Receta], [Id_Consultorio]) VALUES (2, CAST(0x0000A96A000E1607 AS DateTime), 2, 2, 2, 2)
INSERT [dbo].[Consulta] ([Id_Consulta], [Fecha_Cita], [Id_Paciente], [Id_Doctor], [Id_Receta], [Id_Consultorio]) VALUES (3, CAST(0x0000A96A000E160D AS DateTime), 3, 3, 3, 3)
INSERT [dbo].[Expediente] ([Id_Expediente], [Id_Paciente], [Altura], [Peso]) VALUES (1, 1, 1.55, 48.5)
INSERT [dbo].[Expediente] ([Id_Expediente], [Id_Paciente], [Altura], [Peso]) VALUES (2, 2, 1.7, 52)
INSERT [dbo].[Expediente] ([Id_Expediente], [Id_Paciente], [Altura], [Peso]) VALUES (3, 3, 1.5, 40.35)
INSERT [dbo].[Paciente] ([Id_Paciente], [Nombre], [Apellidos], [Edad], [Domicilio], [Id_PacienteExpediente]) VALUES (1, N'Daniela Ivon', N'Delgado Avalos', 18, N'Fortaleza #747 Monterrey', 1)
INSERT [dbo].[Paciente] ([Id_Paciente], [Nombre], [Apellidos], [Edad], [Domicilio], [Id_PacienteExpediente]) VALUES (2, N'Evelyn', N'Delgado Avalos', 15, N'Fortaleza #646 Monterrey', 2)
INSERT [dbo].[Paciente] ([Id_Paciente], [Nombre], [Apellidos], [Edad], [Domicilio], [Id_PacienteExpediente]) VALUES (3, N'Fernando', N'Delgado Avalos', 10, N'Fortaleza #747 Monterrey', 3)
INSERT [dbo].[Paciente_Expediente] ([Id_Paciente], [Id_Expediente], [Id_PacienteExpediente]) VALUES (1, 1, 1)
INSERT [dbo].[Paciente_Expediente] ([Id_Paciente], [Id_Expediente], [Id_PacienteExpediente]) VALUES (2, 2, 2)
INSERT [dbo].[Paciente_Expediente] ([Id_Paciente], [Id_Expediente], [Id_PacienteExpediente]) VALUES (3, 3, 3)
INSERT [dbo].[Receta] ([Id_Receta], [Id_Paciente], [Medicinas], [Fecha], [Id_Doctor]) VALUES (1, 1, N'Simvastatina', CAST(0x0000A96A000CA63B AS DateTime), 1)
INSERT [dbo].[Receta] ([Id_Receta], [Id_Paciente], [Medicinas], [Fecha], [Id_Doctor]) VALUES (2, 2, N'Aspirina', CAST(0x0000A96A000CDC18 AS DateTime), 2)
INSERT [dbo].[Receta] ([Id_Receta], [Id_Paciente], [Medicinas], [Fecha], [Id_Doctor]) VALUES (3, 3, N'Omeprazol', CAST(0x0000A96A000CDC18 AS DateTime), 3)
/****** Object:  Index [NumPaciente]    Script Date: 29/09/2018 1:09:16 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Paciente]') AND name = N'NumPaciente')
CREATE NONCLUSTERED INDEX [NumPaciente] ON [dbo].[Paciente]
(
	[Id_Paciente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [NumPacExp]    Script Date: 29/09/2018 1:09:16 ******/
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[dbo].[Paciente_Expediente]') AND name = N'NumPacExp')
CREATE NONCLUSTERED INDEX [NumPacExp] ON [dbo].[Paciente_Expediente]
(
	[Id_PacienteExpediente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
